node_modules
.dccache
.env
/build
/public/build
zitadel.config
.DS_Store
machinekey
uppy-companion-server
app/components/utils/FileUploaderCustom.tsx
app/components/utils/CustomFileUploader.tsx
app/routes/upload/route.tsx
app/routes/_index/routetemp.tsx
app/routes/_dashboard/routeold.tsx
.env.companion
test-results
playwright-report
.env.test
docker-compose*
.react-router
.anchor
target
**/*.rs.bk
test-ledger
.yarn
